.toprow {
    background: #440a82 !important;
}
.top-menus i {
    font-size: 18px !important;
    color:#ffffff !important;
}
.topheader-txt {
    color:#ffffff !important;
    font-weight: 400 !important;
}
.livetext {
    background: #FD3700 !important;
}
.vimtext {
    background: #ffffff !important;
    color: #FD3700 !important;
}
.topbar {
    background: #ffffff !important;
}
.btn-primary {
    background-color: #440a82 !important;
}
a {
    color:#440a82;
}
.droptxt {
    color:#000 !important;
    text-transform: none !important;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}